@import "tailwindcss";
@plugin "daisyui";


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #859bcc #bfdbfe;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #bfdbfe;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-button,
.custom-scrollbar::-webkit-scrollbar-button:single-button,
.custom-scrollbar::-webkit-scrollbar-button:increment,
.custom-scrollbar::-webkit-scrollbar-button:decrement {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}


